.portfolio {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fefffe;

  .wrapper {
    max-width: 1280px;
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 50px;

    .title {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      gap: 20px;
      width: 80%;
      align-self: center;
      flex: 1;

      h1 {
        font-size: 40px;
        text-align: center;
      }

      p {
        font-size: 22px;
        text-align: center;
        color: #8d818c;
      }
    }
    .content {
      flex: 2;
      display: flex;
      gap: 50px;

      .left,
      .right {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 20px;

        a {
          background-color: teal;
          color: white;
          text-decoration: none;
          font-size: 24px;
          padding: 10px 50px;
          border-radius: 5px;
          align-self: flex-start;
          transition: transform 0.2s;

          &:hover {
            transform: scale(1.02);
          }
        }

        p {
          text-align: justify;
          color: #555;
        }

        .skills {
          display: flex;
          gap: 20px;
          flex-wrap: wrap;
          color: #555;

          span {
            background-color: lightgray;
            padding: 10px;
            border-radius: 5px;
          }
        }
      }
    }
  }
}
