.navbar {
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;
  background-color: white;
  height: 50px;
  display: flex;

  .wrapper {
    display: flex;
    align-items: center;
    margin: 0 20px;
    width: 100%;

    .logo {
      flex: 1;
      font-weight: 900;
      font-size: 24px;
      color: orangered;
    }

    .list {
      flex: 1;
      list-style: none;
      display: flex;
      justify-content: space-between;

      .listItem a {
        color: #555;
        text-decoration: none;
        font-weight: 500;
        font-size: 18px;

        &:hover {
          color: gray;
        }
      }
    }
  }
}
