.navbar {
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;
  background-color: white;
  height: 75px;
  display: flex;
  justify-content: center;

  .wrapper {
    display: flex;
    align-items: center;
    margin: 0 20px;
    width: 100%;
    max-width: 1280px;

    .logo {
      flex: 2;
      font-weight: 900;
      font-size: 24px;
      color: orangered;
    }

    .list {
      flex: 1;
      list-style: none;
      display: flex;
      justify-content: space-between;

      .listItem a {
        color: #555;
        text-decoration: none;
        font-weight: 500;
        font-size: 18px;
        transition: transfornm 0.2s;

        &:hover {
          display: block;
          color: gray;
          transform: scale(1.02);
        }
      }
    }
  }
}
